title=Adblock Plus has been uninstalled
opt_in_only_tracking=1
template=minimal

{% set reasons = [
  ("1v0", "reason-not-installed", "I didn't install Adblock Plus.", ""),
  ("2v0", "reason-slowing-down", "Adblock Plus slowed down my browser.", ""),
  ("3v0", "reason-acceptable-ads", "I don't like the Acceptable Ads program.", ""),
  ("4v0", "reason-see-ads", "Adblock Plus didn't block all ads.", ""),
  ("5v0", "reason-better-adblocker", "I found better ad blocking software.", ["AdBlock", "uBlock", "uBlock Origin", "Ghostery"]),
  ("6v0", "reason-break-websites", "Adblock Plus breaks websites that I visit.", ""),
  ("7v0", "reason-difficult", "I find it difficult to use Adblock Plus.", ""),
] %}

<head>
  <meta name="robots" content="noindex" />
  <link href="/css/uninstalled.css" rel="stylesheet">
  <script src="/js/tracking.js"></script>
</head>

<div id="content">
<section id="uninstall-reasons">
  <div class="container content">
    <h1>{{ title | translate("title") }}</h1>
    <? include reinstall ?>
    <p>{{ "Please select the reason(s) why you uninstalled Adblock Plus:" | translate("reasons-header", "Form heading") }}</p>
    <form id="reasons-form" action="uninstalled-submit" method="get">
      <fieldset>
        <ul id="reasons">
          {%- for reasonId, stringId, value, adblockers in reasons %}
            <li>
              <label>
                <input type="checkbox" name="reason" {% if adblockers %} data-toggle-view="adblockers" {% endif %} value="{{ reasonId }}" />
                {{ value | translate(stringId, "Uninstallation reason") }}
              </label>
              {%- if adblockers %}
                <fieldset class="hidden" id="adblockers">
                  <p>
                    <select name="otherAdblockerPredefined">
                      {%- for adblocker in adblockers %}
                        <option data-hide-element="other-adblocker" value="{{ adblocker }}">{{ adblocker }}</option>
                      {%- endfor %}
                      <option data-show-element="other-adblocker" value="Other">{{ "Other" | translate("other", "Option in list of Adblockers") }}</option>
                    </select>
                    <input id="other-adblocker" class="hidden" type="text" name="otherAdblocker" />
                  </p>
                </fieldset>
              {%- endif %}
            </li>
          {%- endfor %}
          <li>
            <label>
              <input id="reason-other" data-toggle-view="reason-other-container" type="checkbox" name="reason" value="0v0" />
              {{ "Other, namely..." | translate("reason-other", "Last uninstallation reason") }}
            </label>
            <fieldset id="reason-other-container" class="hidden">
              <textarea
                id="reason-other-input"
                name="reasonOther"
                rows="4"
                maxlength="300"
                placeholder="{{ "Please explain why you are uninstalling Adblock Plus" | translate("reason-other-placeholder", "Textarea placeholder text, appears after selecting 'Other, namely...' option") }}"></textarea>
              <div>
                {{ "Characters remaining:" | translate("countdown-text", "Text of character limit counter appears after selecting 'Other, namely...' option") }}
                <span id="characters-countdown"></span>
              </div>
            </fieldset>
          </li>
        </ul>
      </fieldset>
      <p id="reason-error">{{ "Please select at least one of the options above" | translate("error-msg", "Error message, is being shown after submission if no item selected")}}</p>
      <p>
        <button id="reason-submit" class="button primary">{{ "Submit" | translate("submit", "Submit button text") }}</button>
      </p>
    </form>
    <p class="disclaimer">
      <small>{{ "By clicking Submit, you are sending your response to Adblock Plus. Please see our <a href='/privacy'>privacy policy</a>." | translate("disclaimer", "Disclaimer below form") }}</small>
    </p>
  </div>
</section>
</div>

<script src="/js/vendor/bowser.js"></script>
<script src="/js/install-button.js"></script>
<script src="/js/uninstalled-form.js"></script>
